# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\eladf\OneDrive - mail.tau.ac.il\-UNIVERSITY-\year 4\Simester B\Project\Final_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
